/*Importing fonts*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
    box-sizing: border-box;
}

body {
    background-color: #7C90DB;
    font-family: "Poppins", sans-serif;
    margin: 0;
}


/*Editing the search box*/

header {
    background-color: #736B92;
    display: flex;
    justify-content: flex-end;
    /*Moving the search box to the right*/
    padding: 1rem;
}

.search {
    background-color: transparent;
    border: 2px solid #9593D9;
    border-radius: 50px;
    color: #E8D7F1;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.search::placeholder {
    color: #E5BEED;
}

.search:focus {
    background-color: #A167A5;
    outline: none;
}


/*End of search box editing*/

main {
    display: flex;
    flex-wrap: wrap;
}


/* Creating a movie element to display */

.movie {
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 300px;
}

.movie img {
    width: 100%;
}


/*Editing of movie rating /10 */

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #22254b;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}

.movie-info span.green {
    color: rgb(39, 189, 39);
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: rgb(189, 42, 42);
}


/* End of movie element editing*/


/*Editing the review of every movie, and adding a hover element*/

.overview {
    background-color: #EE92C2;
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.overview h3 {
    margin-top: 0;
}


/*Create a mouse-over hover element */

.movie:hover .overview {
    transform: translateY(0);
}